* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Pacifico', cursive;
  background: linear-gradient(135deg, #00c9ff, #92fe9d);
  /* same mint style */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  color: #fff;
}

/* Title */
.title-container {
  margin-top: 50px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: #ffef8c;
}

/* Options container */
.messages-options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 80px;
  width: 80%;
  max-width: 600px;
  justify-items: center;
}


.message-option:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: scale(1.05);
}

/* Example message text */
.message-text {
  margin-top: 50px;
  text-align: center;
  font-size: 1.3rem;
  color: #0056AD;
  text-shadow: 0 0 10px #fff6a1;
  width: 80%;
  max-width: 600px;
}